@font-face {
  font-family: "Swansea Regular";
  src: url("swansea-q3pd-webfont.eot");
  src: url("swansea-q3pd-webfont.eot?#iefix") format("embedded-opentype"),
    url("swansea-q3pd-webfont.woff2") format("woff2"),
    url("swansea-q3pd-webfont.woff") format("woff"),
    url("swansea-q3pd-webfont.ttf") format("truetype"),
    url("swansea-q3pd-webfont.svg#swansearegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Force Majeure";
  src: url("forcemajeuresemiitalic-9jel-webfont.eot");
  src: url("forcemajeuresemiitalic-9jel-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("forcemajeuresemiitalic-9jel-webfont.woff2") format("woff2"),
    url("forcemajeuresemiitalic-9jel-webfont.woff") format("woff"),
    url("forcemajeuresemiitalic-9jel-webfont.ttf") format("truetype"),
    url("forcemajeuresemiitalic-9jel-webfont.svg#force_majeure_semi-italicSIt")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* - - - - - - - - - - Variables - - - - - - - - - - */

:root {
  --color-bg: #89daff;
  --color-light: #fbf5ef;
  --color-dark: #463438;
}

/* - - - - - - - - - - Button Styles from normalize - - - - - - - - - - */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
    * Show the overflow in IE.
    * 1. Show the overflow in Edge.
    */

button,
input {
  /* 1 */
  overflow: visible;
  outline: none;
}

/**
    * Remove the inheritance of text transform in Edge, Firefox, and IE.
    * 1. Remove the inheritance of text transform in Firefox.
    */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
    * Correct the inability to style clickable types in iOS and Safari.
    */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* - - - - - - - - - - Font smoothing - - - - - - - - - - */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: "Swansea Regular", Arial, sans-serif;
  font-size: 16px;
  font-size: clamp(16px, 2vmin, 32px);
  font-weight: 200;
  text-align: right;
  margin: 0;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  color: #fbf5ef;
  color: var(--color-light, #fbf5ef);
  background-color: #89daff;
  background-color: var(--color-bg, #89daff);
}
/* - - - - - - - - - - Typography - - - - - - - - - - */
/* - - - - - - - - - - Headings - - - - - - - - - - */
h1 {
  font-family: "Force Majeure", Arial, sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
  margin: 0;
}
h2 {
  font-family: "Helvetica";
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 600;
}
h3 {
  font-family: "Helvetica";
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 500;
}
h4 {
  font-family: "Helvetica";
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
}
h5 {
  font-family: "Helvetica";
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 500;
}
h6 {
  font-family: "Helvetica";
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
}
/* - - - - - - - - - - Body Text - - - - - - - - - - */
p {
  font-size: 1rem;
}
blockquote,
blockquote p {
  font-size: 2rem;
  font-weight: 600;
}

/* - - - - - - - - - - Lists - - - - - - - - - - */
/* - - - - - - - - - - Definitions - - - - - - - - - - */
dl {
  font-size: 1rem;
} /* Definition List */
dt {
  font-size: 1rem;
} /* Definition List Title */
dd {
  font-size: 1rem;
} /* Definition List Division */

/* - - - - - - - - - - List Elements - - - - - - - - - - */
li {
  font-size: 1rem;
}

/* - - - - - - - - - - Ordered Lists - - - - - - - - - - */
ol {
  font-size: 1rem;
}
ol li {
  font-size: 1rem;
}

/* - - - - - - - - - - Unordered Lists - - - - - - - - - - */
ul {
  font-size: 1rem;
}
ul li {
  font-size: 1rem;
}

/* - - - - - - - - - - Horizontal Rules - - - - - - - - - - */
hr {
  display: block;
}

/* - - - - - - - - - - Tables - - - - - - - - - - */
table {
}
tr {
}
td {
}
caption {
} /*Table Caption */
thead {
} /* Table Header */
tfoot {
} /* Table Footer */
th {
} /* Tabel Header/Footer Data */

/* - - - - - - - - - - Text formatting - - - - - - - - - - */
/* - - - - - - - - - - Keyboard input - - - - - - - - - - */
kbd {
}
/* - - - - - - - - - - Inline Code - - - - - - - - - - */
code {
}
/* - - - - - - - - - - Preformatted Text - - - - - - - - - - */
pre {
}
/* - - - - - - - - - - Inline elements - - - - - - - - - - */
a {
} /* Link */
a:visited {
} /* Link Visited */
a:focus {
} /* Link Focused */
strong {
} /* Strong */
em {
} /* Emphasis */
b {
} /* Bold */
i {
} /* Italics */
u {
} /* Underline */
del {
} /* Deleted */
ins {
} /* Inserted */
s {
} /* Strikethrough */
sup {
} /* Superscript */
sub {
} /* Subscript */
small {
} /* Small Script */
abbr {
} /* Abbreviation */
q {
} /* Quotation */
cite {
  font-size: 0.8rem;
  font-weight: 400;
} /* Citation */
dfn {
} /* Definition */
mark {
} /* Marked Text */
var {
} /* Variable */
time {
} /* Time */

/* - - - - - - - - - - Images, Audio, Video - - - - - - - - - - */
img {
  max-width: 100%;
}
figure {
}
figcaption {
}
audio {
}
video {
}
canvas {
}
meter {
}
progress {
}
svg {
}
iframe {
}

/* - - - - - - - - - - Form Elements - - - - - - - - - - */
/* - - - - - - - - - - Inputs - - - - - - - - - - */
input {
  font-family: "Swansea Regular", Arial, sans-serif;
  background-color: inherit;
  border-radius: 0.3rem;
  border: 0.13rem solid;
  padding: 0.2em;
  color: inherit;
}
input[type="text"] {
}
input[type="password"] {
}
input[type="url"] {
}
input[type="email"] {
}
input[type="tel"] {
}
input[type="search"] {
}
input[type="number"] {
}
input[type="submit"] {
  width: 100%;
  font-family: "Force Majeure", Arial, sans-serif;
  font-size: 2rem;
  margin-top: 0.2rem;
}

/* - - - - - - - - - - Select Menu - - - - - - - - - - */
select {
}
select option {
}

/* - - - - - - - - - - Checkboxes & Radio - - - - - - - - - - */
fieldset {
}
input[type="checkbox"] {
}
input[type="radio"] {
}

/* - - - - - - - - - - Text Area - - - - - - - - - - */
textarea {
}

/* - - - - - - - - - - HTML5 Inputs - - - - - - - - - - */
input[type="color"] {
}
input[type="number"] {
}
input[type="range"] {
}
input[type="date"] {
}
input[type="month"] {
}
input[type="week"] {
}
input[type="datetime"] {
}
input[type="datetime-local"] {
}

/* - - - - - - - - - - Action Buttons - - - - - - - - - - */
input[type="submit"] {
}
input[type="button"] {
}
input[type="reset"] {
}
input[disabled] {
}
button[type="submit"] {
}
button[type="button"] {
}
button[type="reset"] {
}
button[disabled] {
}

/* - - - - - - - - - - Page Structure - - - - - - - - - - */
header {
  position: absolute;
  top: 0;
  width: 100%;
  /* padding: 1rem; */
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
footer {
  position: absolute;
  bottom: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  background-color: #fbf5ef;
  background-color: var(--color-light, #fbf5ef);
  color: #463438;
  color: var(--color-dark, #463438);
  border-top: 0.15rem solid;
}
section {
}
article {
}

/* - - - - - - - - - - Custom Classes - - - - - - - - - - */
.header-button {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-width: 0;
  background-repeat: no-repeat;

  background-position: center;
}
#header-button-info {
  background-image: url(info.svg);
  background-size: 0.8rem;
}
#header-button-share {
  background-image: url(share.svg);
  background-size: 2rem;
}
#cd-h1 {
  display: none;
}
#title {
  /* width: 16rem;
  max-width: 100%; */
}
#subtitle {
  color: #463438;
  color: var(--color-dark);
  /* font-style: italic; */
  /* padding-right: 0.5rem; */
  line-height: 0.7rem;
}
#countdown-container {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cd-sect {
  margin-left: 1rem;
}
.cd-num {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1em;
  font-family: "Force Majeure", Arial, sans-serif;
  text-shadow: -1px -1px 0 #463438, 1px -1px 0 #463438, -1px 1px 0 #463438,
    1px 1px 0 #463438;
}
@supports (-webkit-text-stroke: 1px #463438) {
  .cd-num,
  #title {
    color: #463438;
    color: var(--color-dark);
    -webkit-text-fill-color: #fbf5ef;
    -webkit-text-fill-color: var(--color-light, #fbf5ef);
    -webkit-text-stroke-width: 0.005em;
    -webkit-text-stroke-color: #463438;
    -webkit-text-stroke-color: var(--color-dark);
    text-shadow: none;
  }
}
.cd-lab {
  line-height: 0.7em;
  margin-bottom: 0.3em;
  color: #463438;
  color: var(--color-dark);
}
#cd-sect-end {
  display: none;
}
#cd-num-end,
#cd-lab-end {
  text-align: center;
}
div#cd-form-container {
  height: 0;
  transition: height 0.3s ease;
  overflow-y: hidden;
  display: block;
  padding-left: 4rem;
  width: 100%;
}
#cd-form > div {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;
}
.cd-form-lab {
  padding-top: 0.2em;
}
#cd-form-feedback {
  padding: 0.5em 0;
  font-size: 0.8rem;
  display: none;
}
#floating-action-button {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  border: 0.15rem solid;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #463438;
  color: var(--color-dark);
  background-color: #fbf5ef;
  background-color: var(--color-light, #fbf5ef);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  background-image: url(plus-dark.svg);
  transition: all 200ms ease;
}
#floating-action-button:hover,
#floating-action-button:active,
#floating-action-button:focus {
  background-color: #463438;
  background-color: var(--color-dark);
  background-image: url(plus-light.svg);
}

/* - - - - - - - - - - Responsiveness Media Queries - - - - - - - - - - */

/* Intelligent breakpoints from mobile to very large desktop - CSS Version
Original article: https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/ */

/* Portrait Phones upwards
/*-------------------------------------------------- */
@media (max-width: 599px) {
  html,
  body {
    font-size: 14px;
  }
}

/* Portrait Tablets upwards
/*-------------------------------------------------- */
@media (min-width: 600px) {
  html,
  body {
    font-size: 16px;
  }
  #countdown-container {
    flex-direction: row;
  }
}

/* Landscape Tablets upwards
/*-------------------------------------------------- */
@media (min-width: 900px) {
  html,
  body {
    font-size: 18px;
  }
}

/* Desktop upwards
/*-------------------------------------------------- */
@media (min-width: 1200px) {
  html,
  body {
    font-size: 18px;
  }
}

/* Large Desktop upwards
/*-------------------------------------------------- */
@media (min-width: 1800px) {
  html,
  body {
    font-size: 20px;
  }
}

/* - - - - - - - - - - Super-Responsiveness - vMin/vMax - - - - - - - - - - */
@supports (font-size: clamp(16px, 2vmin, 32px)) {
  html,
  body {
    font-size: clamp(16px, 2vmin, 32px) !important;
  }
}
